* {
    text-align: center;
    color: rgb(79, 79, 227);
  }
  u {
    text-align: center;
    color: red;
  }
  #in{
    text-align: center;
    color: rgb(0, 187, 255);
  }
  body{
    background-color: rgb(219, 181, 219)
  }